$theme-dark-blue: #15151e;
$theme-white: #fff;

$theme-egg-shell: #f7f4f1;
$main-theme-color: white;

$main-theme-accent1: #cd8eff;
$main-theme-accent2: #88dbff;
$main-theme-accent3: #290761;
$main-theme-accent4: #060838;

$main-theme-text:#000000;
$main-theme-grey:#e5e7eb;
$main-theme-light-grey:#C4C4C4;
$main-theme-black:#000000;
