$theme-dark-blue: #15151e;
$theme-white: #fff;

$theme-egg-shell: #f7f4f1;
$main-theme-color: white;
$main-theme-accent1: rgb(88, 166, 218);
$main-theme-accent2: rgb(64, 89, 148);
$main-theme-accent3: rgb(166, 200, 231);
$main-theme-text:black;
$main-theme-grey:#e5e7eb;
