$theme-dark-blue: #15151e;
$theme-white: #fff;

$theme-egg-shell: #f7f4f1;
$main-theme-color: white;
$main-theme-accent1: #58a6da;
$main-theme-accent2: #405994;
$main-theme-accent3: #a6c8e7;
$main-theme-text:black;
$main-theme-grey:#e5e7eb;
