<div class="form-group" [ngClass]="cssClass ? cssClass : ''">
  <label>{{label}}</label>
  <div *ngFor="let option of options;let i = index;" class="custom-control custom-radio">
    <input class="custom-control-input" type="radio" [id]="ngControl.controlName+i" [name]="ngControl.controlName"
      [value]="option.value" [(ngModel)]="value">
    <label class="custom-control-label" [for]="ngControl.controlName+i">
      {{option.description}}
    </label>
  </div>
  <div *ngIf="options === undefined || options.length === 0">
    No options
  </div>
  <div *ngIf="ngControl.control && ngControl.control.invalid && (ngControl.control.dirty || ngControl.control.touched)">
    <span *ngIf="ngControl.control.errors?.['required'] as required" class="badge badge-danger">Required</span>
  </div>
</div>
