<form [formGroup]="form" (submit)="submit()">
  <!-- <app-numeric-control [label]="'What is your age?'" formControlName="age"></app-numeric-control>

  <app-radio-control [label]="'Have you had cancer?'" [options]="hadCancerOptions" formControlName="hadCancer">
  </app-radio-control> -->

  <app-check-box-control [label]="'Do you have any cronic diseases?'" [options]="hadCancerOptions"
    formArrayName="chronic_disease">
  </app-check-box-control>

  <button type="submit">Submit</button>
</form>
