<div class="form-group">
  <label>{{label}}</label>
  <div class="position-relative">
    <input #searchInput type="text" class="form-control" [(ngModel)]="search" placeholder="Search..."
      (blur)="!preventBlurClose?showDropdown = false:null;" (focus)="onFocus()">
    <div *ngIf="search && search.length > 0" class="clear-search-filter cursor-pointer"
      (mouseenter)="preventBlurClose = true;" (mouseleave)="preventBlurClose = false;searchInput.focus();"
      (click)="search = null;">
      <fa-icon [icon]="faTimes"></fa-icon>
    </div>
  </div>
  <div class="check-controls-quick-remove-container">
    <div class="row no-gutters">
      <div class="col-auto check-controls-quick-remove not-selectable"
        *ngFor="let selectedControl of checkBoxFormArray.getCheckedCheckBoxControls"
        (click)="onQuickRemoveControl(selectedControl)">
        {{selectedControl.checkBoxModel.description}}
        <fa-icon class="ml-1" [icon]="faTimes"></fa-icon>
      </div>
    </div>
  </div>
  <div *ngIf="checkBoxFormArray && checkBoxFormArray.invalid && (checkBoxFormArray.dirty || checkBoxFormArray.touched)">
    <span *ngIf="checkBoxFormArray.errors?.['required'] as required" class="badge badge-danger">Required</span>
  </div>
</div>
<div class="check-box-custom-dropdown"
  [ngStyle]="{'top':dropDownTop + 'px','left':dropDownLeft + 'px','width':dropDownWidth + 'px', 'max-height':dropDownMaxHeight + 'px'}"
  [ngClass]="{'check-box-flip-dropdown':flipDropDown}" (mouseenter)="preventBlurClose = true;"
  (mouseleave)="preventBlurClose = false;searchInput.focus();" *ngIf="showDropdown">
  <div class="custom-control custom-checkbox cursor-pointer"
    *ngFor="let checkBoxControl of checkBoxFormArray.checkBoxControls | filterObj:['checkBoxModel','description']:search;let i = index;">
    <input class="custom-control-input" type="checkbox" [formControl]="checkBoxControl"
      [value]="checkBoxControl.checkBoxModel.value" [id]="checkBoxFormArrayName+i">
    <label class="custom-control-label not-selectable cursor-pointer" [for]="checkBoxFormArrayName+i">
      {{checkBoxControl.checkBoxModel.description}}
    </label>
  </div>
</div>
